        .navbar-light{
         background-color:  #ff6d00 !important

        }

        .star-orange{
                color:#ff6d00 !important;

        }
        .orange{
            color:#ff6d00 !important;
        }
        .red{
            color:#cc0000 !important;
        }
